{
	"extends": "eslint:recommended",
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": [
		"react"
	],
	"rules": {
		"no-console": 1,
		"new-cap": 0,
		"strict": 0,
		"no-underscore-dangle": 0,
		"no-use-before-define": 1,
		"no-unused-vars": 1,
		"eol-last": 0,
		"no-undef": 2,
		"no-debugger": 1,
		"quotes": [
			1,
			"single"
		],
		"jsx-quotes": [
			"error",
			"prefer-single"
		],
		"react/jsx-no-undef": 2,
		"react/jsx-uses-react": 1,
		"react/jsx-uses-vars": 1
	}
}
